.icon{
		padding: 10px;
		background: dodgerblue;
		color: white;
		min-width: 50px;
		text-align: center;
		}
.footer{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: black;
		color: white;
		text-align: center;
		height: 30px;
		opacity: 0.8;
	}
body{
		background-color: black; 
		background-image: url("../img/background.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
	}